# رقم الواتساب (بدون + وبدون مسافات)
NEXT_PUBLIC_WA_NUMBER=212600967655
NEXT_PUBLIC_WA_MSG=Bonjour, je souhaite réserver une voiture.

# دومين الموقع (بلا / فالأخير)
NEXT_PUBLIC_SITE_URL=https://aghezouluxcar.ma
